<?xml version='1.0'?>

<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="wheel" params="name radius heigth">
	<link name="${name}">
	<visual>
		<origin xyz="${wheel_origin_position}" rpy="${wheel_origin_angle}"/>
		<geometry>
			<cylinder radius="${radius}" length="${heigth}"/>
		</geometry>
	</visual>
	<collision>
		<origin xyz="${wheel_origin_position}" rpy="${wheel_origin_angle}"/>
		<geometry>
			<cylinder radius="${radius}" length="${heigth}"/>
		</geometry>
	</collision>
	<xacro:default_inertial_cilinder mass="${wheel_mass}" r="${radius}" h="${heigth}" origin_xyz="${wheel_origin_position}" origin_rpy="${wheel_origin_angle}"/>
	</link>
	</xacro:macro>
</robot>